/* Universal Properties */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Setting a background for the page */
body {
  background-color: #d9dcd6;
}

/* Styling the page header */
.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

.header h1 {
  display: inline-block;
  font-size: 48px;
}

mark {
  color: #d9dcd6;
  background-color: inherit;
}

/* Styling the navigation bar inside the header*/
.header navbar {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.header navbar ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 25px;
}
/* Styling hyperlinks */
a {
  color: #ffffff;
  text-decoration: none;
}

/* Default properties for all paragraphs inside the page*/
p {
  font-size: 16px;
}

/* Styling the main sections of the body */
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

/* Section Elements Styling in the Main Body */
.content-section {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/* Styling of image elements in the content section */
.content-section img {
  max-height: 200px;
}

/* Styling of header text in the content section */
.content-section h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* Styling the images inside the content section */

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

/* Styling of the side bar articles */
.sidebar-article {
  margin-bottom: 32px;
  color: #ffffff;
}
/* Styling the sidebar header text */
.sidebar-article h3 {
  margin-bottom: 10px;
  text-align: center;
}
/* Styling the sidebar image */
.sidebar-article img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* Styling of the page footer */
.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}
/* Styling the footer header text */
.footer h4 {
  font-size: 20px;
}
